#mp
{
    
    display: grid;
}

#a1
{
    background-image: url('marvel\ logo\ 1.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
}

#a2
{
    
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 3%;
    display: flex;
}
.a3
{
    width: 30%;
}

.a6
{
    width: 200px;
    height: 100px;
}

.a4
{
    width: 40%;
}
input
{
    width: 100%;
    padding: 10px 0;
    margin-top: 30px ;
}
input:hover{
    text-shadow: 0 0 4px rgb(215, 79, 79), 0 0 3px rgb(222, 129, 129);
}

.a5
{
    
    margin: 20px 0 0 90px;
    display: inline-block;
    
}
.dropdowncontent
{
    display: none;
    position: absolute;
    min-width: 130px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    

}

.a5:hover .dropdowncontent
{
    display: block;
}

li{
    list-style-type: none;
    margin-left: -40px;
}
li:hover{
    background-color: grey;
}
.bc
{
    text-decoration: none;
    text-transform: uppercase;
    font-size: medium;

}


#op
{
    background-color: white;
    height: auto;
    width: 70%;
    margin-left: 30%;
    margin-top: -103%;
    
}
#cm1
{
    width: 100%;
    display: flex;
}
#tit1
{
    color: rgb(248, 123, 6);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    text-align: center;
    
}
.im
{
 width: 30%;
 max-width: 100%;
 display: block;
}

.img
{
    margin: 50px 0 0 70px;
}
#tit2
{
    color: red;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;

}
#cm2
{
    width: 100%;
    display: flex;
}
.vc
{
    width: 20%;
}
.vm
{
    margin-left: 20px;
}
#np
{
    background-color: white;
    width: 40%;
    margin-right: 60px;
}


#vk
{
    
    background-color: white;
    width: 29.5%;
    margin: 20px 0 0 0;
    height: auto;
}
#vk:hover{
    overflow-y: scroll;
    overflow-x: hidden;
}
    


.ke
{
    margin: 0 0 0 0px;
    max-width: 100%;
    width: 100%;
    display: block;
}